.idea
/__pycache__/
/venv
*.pyc
#local.env
# /app/logs/
/app/vol/
app/htmlcov
coverage.xml*
*.coverage
app/db.sqlite3
/app/dump_files.py
dump_files.py
/app/dump.txt
dump.txt
/.env
.pytest_cache
coverage.xml
# https://gitready.com/beginner/2009/01/19/ignoring-files.html