{% extends "base.html" %}

{% block content %}
<div class="card shadow-sm p-4 border-0">
    <h2 class="fw-bold mb-4">{% if system %}Edit system{% else %}Create a system{% endif %}</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">System name</label>
            <input type="text" name="name" class="form-value form-control" value="{{ system.name|default:'' }}" required>
        </div>
        <div class="mb-3">
            <label class="form-label">System type</label>
            <input type="text" name="system_type" class="form-control" value="{{ system.system_type|default:'' }}" required>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        <!-- A hidden field so that the address is not lost when sending a POST request if validation errors occur. -->
        <input type="hidden" name="next" value="{{ back_url }}">
        <!-- Dynamic Undo Button -->
        {% if back_url %}
            <a href="{{ back_url }}" class="btn btn-outline-secondary">Cancel</a>
        {% else %}
            <a href="{% url 'target_system_list' %}" class="btn btn-outline-secondary">Cancel</a>
        {% endif %}
    </form>
</div>
{% endblock %}

